<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <h1>Registeration page</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-md-8 com-sm-offset-1 col-md-offset-2">
                            <form (ngSubmit)="onSubmit()" #f="ngForm">                               
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" id="email" class="form-control" ngModel name="email" required email #email="ngModel"/>
                                        <span class="help-block" *ngIf="email.invalid && email.touched">Email is not valid</span>
                                        <span class="help-block" *ngIf="registretionStatus != '' && email.untouched">{{registretionStatus}}</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" id="empasswordail" class="form-control" ngModel name="password" required password #password="ngModel"/>
                                        <span class="help-block" *ngIf="!password.valid && password.touched">Please insert a password</span>
                                    </div>
                                <hr>
                                
                                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Register</button>

                                <button class="btn btn-primary" id="loginRegisterBtn" routerlink="/login" style="margin-left: 1em">Login</button>
                            
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
